body {
    padding-top: 50px;
    padding-left: 2%;
    padding-right: 2%;
}

#body-header {
    width:100%; margin-top: -50px !important; margin-bottom: 15px !important; 
    background-color: #EAF2F8 !important; height: 50px !important; padding-top: 3px; padding-left: 3px; padding-right: 3px;
    border-bottom:solid; border-bottom-width:1px; border-bottom-color:rgb(163, 192, 232); 
    border-left:solid; border-left-width:1px; border-left-color:rgb(163, 192, 232);
    border-right:solid; border-right-width:1px; border-right-color:rgb(163, 192, 232);
}